<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Appeyroad.Spresso"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk android:minSdkVersion="10" />
	<uses-permition android:name="android.permission.INTERNET"/>
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true"/>
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".introActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mainActivity" android:label="cafelist"></activity>
        <activity android:name=".detailActivity" android:label="cafeinfo"></activity>
        <activity android:name=".sectionActivity"></activity>
        <activity android:name=".infoActivity"></activity>
        <activity android:name=".emailActivity"></activity>
        <activity android:name=".webActivity"></activity>
    </application>

</manifest>